apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "suse-ai-operator.labels" . | nindent 4 }}
  name: {{ include "suse-ai-operator.fullname" . }}
spec:
  replicas: {{ .Values.manager.replicas }}
  selector:
    matchLabels:
      {{- include "suse-ai-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- toYaml .Values.manager.podAnnotations | nindent 8 }}
      labels:
        {{- include "suse-ai-operator.labels" . | nindent 8 }}
    spec:
      containers:
        - name: manager
          image: "{{ with (coalesce .Values.global.imageRegistry .Values.image.registry) }}{{ . }}/{{ end }}{{ .Values.image.repository }}:{{ .Values.image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.manager.image.pullPolicy }}
          command:
            - /manager
          args:
          {{- if .Values.metrics.enable }}
            - --metrics-bind-address=:{{ .Values.metrics.port }}
          {{- else }}
            - --metrics-bind-address=0
          {{- end }}
            - --health-probe-bind-address=:8081
          {{- range .Values.manager.args }}
            - {{ . }}
          {{- end }}
          
          {{- if .Values.manager.probes.liveness.enabled }}
          livenessProbe:
            {{- omit .Values.manager.probes.liveness "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.manager.probes.readiness.enabled }}
          readinessProbe:
            {{- omit .Values.manager.probes.readiness "enabled" | toYaml | nindent 12 }}
          {{- end }}
          resources:
            {{- if .Values.manager.resources }}
            {{- toYaml .Values.manager.resources | nindent 20 }}
            {{- else }}
            {}
            {{- end }}
          securityContext:
            {{- if .Values.manager.securityContext }}
            {{- toYaml .Values.manager.securityContext | nindent 20 }}
            {{- else }}
            {}
            {{- end }}
          volumeMounts:
            - mountPath: /home/nonroot/.cache
              name: helm-cache
      serviceAccountName: {{ include "suse-ai-operator.fullname" . }}
      terminationGracePeriodSeconds: 30
      volumes:
        - emptyDir: {}
          name: helm-cache
      securityContext:
        {{- if .Values.manager.podSecurityContext }}
        {{- toYaml .Values.manager.podSecurityContext | nindent 14 }}
        {{- else }}
        {}
        {{- end }}
      nodeSelector:
        {{- toYaml .Values.manager.nodeSelector | nindent 8 }}
      tolerations:
        {{- toYaml .Values.manager.tolerations | nindent 8 }}
      affinity:
        {{- toYaml .Values.manager.affinity | nindent 8 }}
      
