{{- if .Values.metrics.enable }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "suse-ai-operator.serviceName" (dict "context" . "suffix" "metrics-reader") }}
rules:
  - nonResourceURLs:
      - /metrics
    verbs:
      - get
{{- end }}
